<div class="exclusive-lot" id='<%= "lot-card-#{land.id}" %>'>
    <a name="<%= land.id %>"></a>
    <div class="row">
      <div class="col">
        <h3 class="lot-card-title">
          <% if land.model %>
            <%= "#{land.model.name} @ " %>
          <% end %>
          <%= land.address %>
          <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_land_path(land), class: 'btn btn-warning' %>
          <% end %>
        </h3>
      </div>
      <div class="col-1 lot-card-x" onclick="document.getElementById('<%= "lot-card-#{land.id}" %>').style.display = 'none';">
        <p>x</p>
      </div>
    </div>
    <div class="row lot-image-map">
      <div class="col">
        <%= render 'lands/land_image_carousel', land: land %>
      </div>
    </div>
    <div class="row ready-lot-info">
      <div class="col">
        <b>Address</b> <%= land.address %>
      </div>
      <div class="col">
        <b>Neighborhood</b> <%= land.neighborhood.name %>
      </div>
    </div>
    <% if land.model %>
    <div class="row house-details-container">
      <div class="col">
        <div class="row house-detail-row">
          <div class="col"><%= land.model.bedrooms %> BR</div>
          <% if land.model.bathrooms? %>
            <div class="col"><%= land.model.bathrooms %> BA</div>
          <% end %>
          <% if land.model.sqft? %>
            <div class="col house-detail-sqft"><%= land.model.sqft %> Sq Ft</div>
          <% end %>
        </div>
        <div class="row house-detail-row">
          <div class="col">Price Range:</div>
          <div class="col"><%= land.pricing %></div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row house-detail-row ">
      <div class="col">
        <%
          saved = false
            if current_user
              lot_saved = SavedLot.where(["user_id = ? and land_id = ?", current_user.id, land.id ]).first
              if lot_saved
                saved = true
              end
            end
        %>
        <%= link_to toggleSave_path(land), remote: true do %>
          <button class='btn lot-saved-btn <% if saved %>saved<% end %>' data-toggle="button" onclick='
            this.classList.toggle("saved");' aria-pressed="false">
            <i class='fas fa-heart'></i></button>
        <% end %>
      </div>
      <div class="col">
        <% if current_user %>
          <% @contact_form = ContactForm.new(name: "#{current_user.first_name} #{current_user.last_name}", email: current_user.email, lot_address: land.address) %>
          <%= render 'contact_forms/new', land: land %>
        <% end %>
      </div>
    </div>
  </div>
