<% content_for :admin_console do %>
  <%= link_to "Add a Land Lot", new_land_path, class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <h2 class="text-center">Land Lots</h2>
  <br />

  <div class="jumbotron text-center">
    <%= link_to "All Lots", lands_path, class: 'btn btn-info' %>
    <% @neighborhoods.each do |neighborhood| %>
      <%= link_to neighborhood.name + " Lots", neighborhood_lands_path(neighborhood), class: 'btn btn-info' %>
    <% end %>
  </div>

  <% if @lands.blank? %>
    <div class="jumbotron text-center">
      <p class="lead">There are not any lots in the system.</p>
    </div>
  <% end %>

  <div class="row">
  <% curr_row = 0 %>
  <% @lands.each do |land| %>
    <% if (curr_row % 3) == 0 %>
      </div>
      <div class="row">
    <% end %>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= land.parcel_id %></h5>
          <p class="card-text">
            <%=  %>
          </p>
          <%= link_to "Learn More", land_path(land), class: 'btn btn-info' %>
        </div>
      </div>
    </div>
    <% curr_row += 1 %>

  <% end %>

</div>
