<% content_for :admin_console do %>
  <%= link_to "Add a Land Lot", new_land_path, class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <h2 class="text-center">
    Land Lots
  </h2>
  <br />

  <div class="alert alert-light text-center">
    <%= link_to "All Lots", lands_path, class: 'btn btn-info' %>
    <br />
    <br />
    <div>
      <%= render 'filter' %>
    </div>
    <br />
    <div>
      Current filters
      <br />
      <% if @neighborhood %> Neighborhood: <%= @neighborhood.name %><% end %>
      <br />
      <% if @land_type %>Lot Type: <%= @land_type.name %><% end %>
    </div>
  </div>

  <% if @lands.blank? %>
    <div class="text-center alert alert-warning lead">
      There are no lots in the system that match your criteria
    </div>
  <% end %>

  <%= render "lands_index" %>

</div>
