<% content_for :admin_console do %>
  <%= link_to "Add a Land Lot", new_land_path, class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <h2 class="text-center">
    <% if @neighborhood_name %>
      <%= @neighborhood_name %>
    <% end %>
    Land Lots
  </h2>
  <br />

  <div class="alert alert-light text-center">
    <div class='btn-group' role="group">
      <%= link_to "All Lots", lands_path, class: 'btn btn-info' %>
      <% @neighborhoods.each do |neighborhood| %>
        <%= link_to neighborhood.name + " Lots", neighborhood_lands_path(neighborhood), class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>

  <% if @lands.blank? %>
    <div class="text-center alert alert-warning lead">
      There are no lots in the system that match your criteria
    </div>
  <% end %>

  <%= render "lands_index" %>

</div>
