<% content_for :admin_console do %>
  <%= link_to "Edit Land Lot", edit_land_path(@land), class: 'btn btn-warning' %>
  <%= link_to "Remove Land Lot", land_path(@land),
      method: :delete,
      class: 'btn btn-danger' %>
  <br /><br />
  <div>
    <b>Lot stats</b> <br />
    Total visits: <%= Ahoy::Event.where_event("Viewed Lot", id: @land.id.to_s).count %>
  </div>
<% end %>

<div class="container">
  <%= render 'button_nav' %>

  <section class="lot-info">
    <div class="double-header text-center">
      <h2 class="title"><%= @land.address %></h2>
      <h3><%= @land.neighborhood.city_state_name %></h3>
    </div>
    <br />
    <div class="container">
      <!-- Begin lot images -->
      <% if @land.images.first %>
        <div class="lot-info-section">
          <div class="ready-lot-images-container">
            <%= image_tag @land.images.first, class: "lot-info-image" %>
            <div class="overlay">Please note, this image is for informational purposes only, the actual lot boundary will be based on survey results.</div>
          </div>
        </div>
      <% end %>
      <!-- End lot images -->
      <div class="lot-info-section lot-details">
        <div class="lot-details-section">
          <h3>Location</h3>
          <hr>
          <br />
          <div>
            <b>Neighborhood</b>
            <p><%= @neighborhood.name %></p>
          </div>
          <div>
            <b>Address</b>
            <p><%= @land.address %></p>
          </div>
        </div>
        <div class="lot-blurb lot-details-section">
          <h3>Why We Like It</h3>
          <hr>
          <p><%= @neighborhood.description %></p>
          <p><%= @land.why_we_like_it %></p>
        </div>
      </div>
      <div class="lot-info-section">
        <h2>What's Close By</h2>
        <div class="line-break"></div>
        <div class="overlay" onclick="style.pointerEvents='none'"></div>
        <% if @land.nearby_mapframe %>
           <iframe class="land-iframe" frameborder="0" style="border:0" src=<%= @land.nearby_mapframe %> allowfullscreen></iframe>
        <% end %>
      </div>
      <div class="lot-info-section locations-nearby-container">
        <% if @nearby_locations_10 %>
          <div class="locations-nearby">
            <h3>10 minute walk</h3>
            <hr>
            <p>
            <% @nearby_locations_10.each do |loc| %>
              <%= loc.name %><br />
            <% end %>
            <p>
          </div>
        <% end %>
        <% if @nearby_locations_mi %>
          <div class="locations-nearby">
            <h3>Within a mile</h3>
            <hr>

            <p>
            <% @nearby_locations_mi.each do |loc| %>
              <%= loc.name %><br />
            <% end %>
            <p>

          </div>
        <% end %>
      </div>
      <div class="lot-info-section">
        <%= render 'contact_forms/new', land: @land %>
      </div>
    </div>
  </section>
</div>
