<% content_for :admin_console do %>
  <%= link_to "Edit Land Lot", edit_land_path, class: 'btn btn-warning' %>
  <%= link_to "Remove Land Lot", land_path(@land),
      method: :delete,
      class: 'btn btn-danger' %>
<% end %>

<div class="container">
  <h4 class="text-center">Lot: <%= @land.parcel_id %></h4>
  <hr />
  <div class="row">
    <div class="col-sm col-md-6">
      <p>Address: <%= @land.address %></p>
      <p>Neighborhood: <%= link_to @neighborhood.name, neighborhood_path(@neighborhood) %></p>
      <p>Size: <%= @land.size %></p>
      <p>Pricing: <%= number_to_currency(@land.pricing) %></p>
      <p>Zoning Declaration: <%= @land.zoning_declaration %></p>
    </div>
    <div class="col-sm col-md-6">
      <% if @land.mapframe %>
      <iframe width="100%" height="450" frameborder="0" style="border:0" src= <%= @land.mapframe %> allowfullscreen></iframe>
      <% end %>
    </div>
  </div>
</div>
