<% content_for :admin_console do %>
  <%= link_to "Add a Model", new_model_path, class: 'btn btn-info text-white' %>
<% end %>

<div class="container">

  <div class="double-header text-center">
    <h2 class="text-center title">
      Models
    </h2>
  </div>
  <br />

  <% if @models.blank? %>
    <div class="text-center alert alert-warning lead">
      There are no models in the system.
    </div>
  <% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Bedrooms</th>
        <th scope="col">Bathrooms</th>
        <th scope="col">Sqft</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @models.each do |model| %>
      <tr>
        <td scope="row"><%= model.name %></td>
        <td><%= "#{model.bedrooms}" %></td>
        <td><%= "#{model.bathrooms}" %></td>
        <td><%= "#{model.sqft} Sqft" %></td>
        <td><%= link_to "Edit", edit_model_path(model), class: 'btn btn-small btn-info' %>
        <td><%= link_to "Delete", model_path(model), method: :delete, class: 'btn btn-small btn-danger' %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
