<div class="jumbotron container">
  <h2>Get Access to the Module Platform</h2>
  <div>By creating an account, you get access to Module Exclusive lots and publicly available lots that we like.</div><br />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="row form-row">
      <div class="form-group col">
        <%= f.label :first_name, 'First Name' %>
        <%= f.text_field :first_name, class: 'form-control', required: true %>
      </div>
      <div class="form-group col">
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name, class: 'form-control', required: true %>
      </div>
      <div class="form-group col">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'form-control', required: true %>
      </div>
    </div>
    <div class="row form-row">
      <div class="field form-group col">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true %>
      </div>

      <div class="field form-group col">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true %>
      </div>
    </div>
    <%= render 'info_form', f: f %>
    <div class="row">
      <div class="col">
        <div class="field form-group form-check">
          <%= f.check_box :valid_age, checked_value: true, class: 'form-check-input', required: true %>
          <%= f.label :valid_age, "I am 18 years or older", class: 'form-check-label' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field form-group form-check">
          <%= f.check_box :terms_agreement, checked_value: true, class: 'form-check-input', required: true %>
          <label for="user_terms_agreement">I agree to the <a data-toggle="modal" data-target="#termsOfServiceModal" style="text-decoration: underline;">terms of service</a> and <a data-toggle="modal" data-target="#privacyPolicyModal" style="text-decoration: underline;">privacy policy</a></label>


          <!-- Terms of Service Modal -->
          <div class="modal fade" id="termsOfServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Terms of Service</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'terms_of_service' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Privacy Policy Modal -->
          <div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'privacy_policy' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="actions">
          <%= f.submit "Create Account", class: 'form-group btn btn-success' %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
