<div class="jumbotron container text-center">
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, class: 'form-group') do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-group' %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: 'form-group btn btn-warning' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
