<div class="row">
  <div class="col">
    <%= form_for @contact_form do |f| %>
      <h3>Want more info? Send us a message below!</h3>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="row">
        <div class="form-group col">
          <%= f.text_area :message, required: true, rows: 5, class: "form-control" %>
        </div>
      </div>

      <%= f.hidden_field :lot_address, :value => land.address %>

      <div class="row">
        <div class="form-group col">
          <%= f.submit "Submit", class: 'form-control btn btn-success' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
