<div class="row justify-content-lg-center">

  <%= form_for @neighborhood do |f| %>

    <div class="form-row">
      <div class="form-group col">
        <%= label_tag(:name, "Name") %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-8">
        <%= label_tag(:city, "City") %>
        <%= f.text_field :city, class: 'form-control'%>
      </div>
      <div class="form-group col-4">
        <%= label_tag(:state, "State") %>
        <%= f.select :state, us_states, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <%= f.submit "Submit", class: 'form-control btn btn-success' %>
    </div>

  <% end %>

</div>
