<% content_for :admin_console do %>
  <%= link_to "Edit Neighborhood", edit_neighborhood_path, class: 'btn btn-warning' %>
  <%= link_to "Remove Neighborhood", neighborhood_path(@neighborhood),
      method: :delete,
      class: 'btn btn-danger' %>
<% end %>


<div class="container">
  <div class="text-center">
    <h2><%= @neighborhood.name %></h2>
    <div class="lead"><%= @neighborhood.city_state_name %></div>
  </div>
  <hr />
  <% if @neighborhood.images.attached? %>
  <!-- Begin neighborhood images carousel -->
  <div class="row">
    <div id="carouselNeighborhoodImages" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <% first_image = true %>
        <% @neighborhood.images.each do |image| %>
        <% if first_image %>
        <div class="carousel-item active">
        <% first_image = false %>
        <% else %>
        <div class="carousel-item">
        <% end %>
          <%= image_tag image.variant(resize: "400x400"), class: "d-block w-100 img-fluid", alt: "Lawrenceville Image" %>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselNeighborhoodImages" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselNeighborhoodImages" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- End neighborhood images carousel -->
  <% end %>
  <div class="row">
    <div class="col col-md-6 lead text-justify">
      <%= @neighborhood.description %>
    </div>
    <div class="col col-md-6">
      <% if @neighborhood.mapframe %>
      <iframe width="100%" height="450" frameborder="0" style="border:0" src= <%= @neighborhood.mapframe %> allowfullscreen></iframe>
      <% end %>
    </div>
  </div>

  <br />

  <h4>Available Lots</h4>
  <%= render "lands/lands_index" %>
</div>
