<% content_for :admin_console do %>
  <%= link_to "Edit Neighborhood", edit_neighborhood_path, class: 'btn btn-warning' %>
  <%= link_to "Remove Neighborhood", neighborhood_path(@neighborhood),
      method: :delete,
      class: 'btn btn-danger' %>
<% end %>


<div class="container">
  <div class="text-center">
    <h2><%= @neighborhood.name %></h2>
    <div class="lead"><%= @neighborhood.city_state_name %></div>
  </div>
  <hr />
  <% if @neighborhood.images.attached? %>
  <!-- Begin neighborhood images -->
  <div class="neighborhood-images-container">
    <% @neighborhood.images.each do |image| %>
      <%= image_tag image, class: 'neighborhood-image' %>
    <% end %>
  </div>
  <!-- End neighborhood images -->
  <% end %>
  <div class="row">
    <div class="col col-md-6 lead text-justify">
      <%= @neighborhood.description %>
    </div>
    <div class="col col-md-6">
      <% if @neighborhood.mapframe %>
      <iframe width="100%" height="450" frameborder="0" style="border:0" src= <%= @neighborhood.mapframe %> allowfullscreen></iframe>
      <% end %>
    </div>
  </div>

  <br />

  <h4>Available Lots</h4>
  <%= render "lands/lands_index" %>
</div>
