<!DOCTYPE html>
<html>
  <head>
    <title>Module Companion App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://modulehousing.com/">Module</a>
      <%= link_to 'Land', lands_path, class: 'nav-link' %>
      <%= link_to 'Neighborhoods',  neighborhoods_path, class: 'nav-link' %>
    </nav>
    <main class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if current_user.admin? %>
      <div class="container">
        <div class="bg-light admin-console text-center">
          <div class="lead">
            <h5>Admin Options</h5>
            <div>
              <%= yield :admin_console%>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <br />

      <%= yield %>
    </main>
  </body>
</html>
