<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Module Land Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="shortcut icon" href="<%= image_url('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title" content="Module Land Platform">
    <meta property="og:content" content="/logo.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144476948-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144476948-1');
    </script>

    <!-- Fony Awesome Icons -->
    <script src="https://kit.fontawesome.com/a1e3af81a2.js"></script>

    <!-- Mapbox JS and CSS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <main>
      <%= render 'layouts/admin_content' %>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>

</html>
